!!!
%html
  %body
    .message-sender
      %p
        sampleさん
    .message-date
      %p
        2019/09/24(Tue) 12:07:15
    .message-text
      %p
        samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
