!!!
%html
  %body
    .left-contents
      .left__header
        .left-header__name
        .left-header__icon
      .left__list
        .left-list__item
    .main-contents
      .main__header
        .header__info
          .info__name
          .info__list
        .header__btn
      .main__messages
        .messages__item
      .main__form
        .form__message
        .form__btn
        .form__send-btn

